<div class="span2">
     Search: <input ng-model="query">
</div>

<h1>Project list ({{ projects.length }})</h2>

<table class="table">
   <thead>
      <tr>
         <th>Name</th>
         <th>Description</th>
      </tr>
   </thead>
   <tbody>
        <tr ng-repeat="project in projects | filter:query | orderBy:'name'">
            <td><a href="#/projects/{{ project.name }}">{{ project.name  }}</a></td>
            <td><pre>{{ project.description  }}</pre></td>
        </tr>
   </tbody>
</table>
